/* for forms on main pages */
.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

/* for main page submit form buttons */
.form-sumbit-button {
  font-size: 100%;
  letter-spacing: 1px;
  padding: 20% 60%;
  outline: 0;
  white-space: nowrap;
  border: 1px solid #424242;
  border-radius: 2px;
  color: #efefef;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.form-sumbit-button::after {
  content: "";
  background-color: #7E4E60;
  width: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 2px;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.form-sumbit-button:hover::after {
  top: 0px;
  left: 0px;
  border-radius: 0px;
}
