/* footer styles */
#footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  background-color: #157A6E;
  color: #efefef;
}

#footer-link-container {
  display: grid;
  grid-template-areas: 'gh li''mb mb';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: .5%;
}

/* footer content syles */
#gh-icon {
  grid-area: gh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gh-icon a, #li-icon a {
  color: inherit;
}

#li-icon {
  grid-area: li;
  display: flex;
  align-items: center;
  justify-content: center;
}

#made-by {
  grid-area: mb;
}
