body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFEFEF;
  margin: 0;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.content {
  display: grid;
  grid-template-areas: 'nav''main';
  grid-template-rows: 1fr 10fr;
}

#nav-grid {
  grid-area: nav;
}

.main-grid {
  grid-area: main;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
