/* for auth modals */
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  padding: 5% 0;
}

.logo-name {
  font-style: italic;
  font-weight: 500;
}

/* general form containers */
.form-input-containers {
  display: flex;
  flex-direction: column;
  width: 55%;
  font-size: 1.1rem;
}

.form-inputs {
  font-size: 1.1rem;
  margin: 2% 0;
  border: none;
  background-color: #efefef;
  outline: none;
  border-bottom: black 1px solid;
}

.error-display {
  font-size: .9rem;
  text-align: center;
  height: 1em;
  color: #B0413E;
}

.form-button-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.form-redirect {
  margin-top: 2%;
  color: #157A6E;
  cursor: pointer;
}

.form-redirect:hover {
  color: #E08E45;
}



/* Auth form Media Queries */

@media screen and (max-width: 1200px) {
  .nav-buttons {
    font-size: 2.5rem;
  }

  .auth-form {
    width: 80vw;
    font-size: 2rem;
  }

  .form-input-containers, .form-inputs, .error-display, .form-sumbit-button {
    font-size: 2rem;
  }
}
