#card-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}

.card-tile-container {
  display: grid;
  grid-template-areas: 'buttons front back';
  grid-template-columns: auto 1fr 1fr;
  margin: 2% 0;
  gap: 3%;
}

.card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-tile-back {
  grid-area: back;
  background-image: url('./CardTiles/bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 5px;
  margin: 2%;
  background-color: white;
  font-size: 120%;
}

.back-info {
  margin-left: 5%;
  margin-right: 5%;
}

.card-tile-front {
  grid-area: front;
  background-image: url('./CardTiles/bg.png');
  background-size: cover;
  letter-spacing: 2px;
  display: grid;
  grid-template-areas: 'main side';
  grid-template-columns: 2fr 1fr;
  border: 1px black solid;
  border-radius: 5px;
  margin: 2%;
  background-color: white;
  font-size: 120%;
}

.front-main {
  grid-area: main;
  margin: 0 5%;
}

.front-side {
  grid-area: side;
}

#card-count {
  text-align: center;
  margin-bottom: 3%;
}

/* sticker styles */
.card-sticker {
  margin-top: 20%;
  margin-left: 20%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 3px #36558F solid;
  background-color: white;
  box-shadow: #5D2E46 0px 0px 0px 3px, #157A6E 0px 0px 0px 6px, #FFACB7 0px 0px 0px 9px, #CB904D 0px 0px 0px 12px, #EA596E 0px 0px 0px 15px, rgba(60, 64, 67, 0.3) 0px 1px 2px 17px, rgba(60, 64, 67, 0.15) 0px 1px 2px 19px;
}

/* card colors */
.even-card.card-tile-front {
  box-shadow: 0 0 0 15px #157A6E;
}

.even-card.card-tile-back {
  box-shadow: 0 0 0 15px #5D2E46;
}

.odd-card.card-tile-front {
  box-shadow: 0 0 0 15px #36558F;
}

.odd-card.card-tile-back {
  box-shadow: 0 0 0 15px #E08E45;
}

@media screen and (max-width: 1200px) {
  .card-sticker {
    display: none;
  }
}
