#navbar {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  background-color: #c2c2c2;
}

/* logo nav styles */
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3%;
  width: 25%;
}

#nav-logo {
  background: url('./logo.png');
  background-repeat: no-repeat;
  background-size: 95%;
  height: 80%;
  width: 15%;
  border-radius: 50%;
}

#nav-logo-name {
  font-size: 275%;
  font-style: italic;
}

/* Search bar nav styles */
#search-bar {
  background-color: inherit;
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#search-nav {
  color: #157A6E;
}

#search {
  margin: 0 4% 1.5% 0;
  display: flex;
  width: 90%;
  height: 55%;
  align-items: center;
  border: 1px #1b1b1b solid;
  border-radius: 5px;
}

#search-input {
  margin-left: 1%;
  font-size: 1.1rem;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

#nav-1, #nav-2 {
  width: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.3rem;
}

/* for navbar buttons */
.nav-buttons {
  height: 80%;
  width: 90%;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
}

#nav-signup.nav-buttons {
  background-color: #CB904D;
  color: #efefef;
}


#nav-login.nav-buttons {
  background-color: #157A6E;
  color: #efefef;
}

/* Nav bar media queries */

@media screen and (max-width: 1000px) {
  #nav-logo, #search-bar {
    display: none;
  }

  #logo {
    width: 50%;
  }

  #nav-logo-name {
    font-size: 550%;
    font-style: italic;
  }

  #nav-1, #nav-2 {
    width: 25%;
    font-size: 2rem;
  }
}
