#nav-profile {
  justify-content: center;
  display: flex;
  align-items: center;
  color: #CB904D;
  margin: 5% 0;
}

#profile-logo {
  font-size: 3rem;
}

.dropdown {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  min-width: 20%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 3% 3.5%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover, .dropdown-content button:hover {
  background-color: #ddd;
  border-radius: 2px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#logout-button {
  border: none;
  width: 100%;
  text-align: left;
  padding: 3% 3.5%;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
}

#logout-icon {
  margin: 0 2%;
  color: #CB904D;
}
