#delete-button {
  background-color: #c2c2c2;
  border: none;
  border-radius: 2px;
  padding: 2% 4%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B0413E;
}

#delete-button:hover {
  background-color: #B0413E;
  color: #efefef;
}

#delete-message {
  color: #B0413E;
  font-size: 80%;
  margin: 2% 0;
}

#cancel-delete {
  background-color: #c2c2c2;
  border: none;
  border-radius: 2px;
  padding: 2% 2%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #efefef;
  font-size: 100%;
  color: #157A6E;
}

#cancel-delete:hover {
  background-color: #157A6E;
  color: #efefef;
}
